# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/**/generated
*.swp
*.lock

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
